# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Tools.iml
# Datasource local storage ignored files
/../../../../../../../:\Development\SpyTurtleStudio\Tools\.idea\.idea.Tools.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
